#box
{
    margin: auto;
    border: 1px;
    border-style: solid;
    width: 350px;
    height: 420px;
    background-color: cornflowerblue;
    border-radius: 20px;
}
h2{
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: center;
    color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }
#box1,#rearchmoudle{
    margin-left: 50px;
}
li {
    line-height: 20px;
    width: 300px;
    border-style: groove;           
}
ol {
    padding-left: 25px;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar{
 display: none;
}
.button1
{
  line-height: 15px;
  margin: 0%;
  padding: 0%;
  float: right;

}
button{
    color: rgb(1, 19, 19);
}
p
{
    float: right;
    background-color: chartreuse;
    position: relative;
    bottom: 15px;
}
span {

    color: chartreuse;
}
#last{
    height: 62px;
    margin: 0%;
    padding: 0%;
    overflow-y: scroll;
}
li>input{
    border: 0px;
    outline: none;
    cursor: pointer;
    background-color:cornflowerblue;
}
